.button{
    display: flex;
    width: 15rem;
    border-radius: 2rem;
    border: 0;
    height: 3rem;
    background-color: #f8afa6;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}