.body {
    padding: 0px;
    margin: 0;
    width: 100vh;
    overflow: hidden;
    background: radial-gradient(circle, #FDE7E5, #FFFFFF);
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 11px;
    width: auto;
    height: 5rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.header {
    display: flex;
    align-items: center;
    background: #fff;
}

.logo {
    font-weight: bold;
    font-size: 1.8rem;
    letter-spacing: 1px;
    margin-left: 10px;
    color: #923e2b;
}

.iconsContainer {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.iconCasa,
.iconAdicionar,
.iconChat {
    width: 24px;
    height: 24px;
}

.iconsContainer {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: auto;
    margin-right: 48px;
}

.menu,
.iconCasa,
.iconAdicionar,
.iconSino,
.iconChat {
    width: 35px;
    height: 35px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}


.iconCasa {
    background-image: url('/icons/iconCasa.png');
}

.iconAdicionar {
    background-image: url('/icons/iconAdicionar.png');
}

.menu {
    background-image: url('/icons/users.png');
}

.iconSino {
    background-image: url('/icons/iconSino.png');
}

.iconChat {
    background-image: url('/icons/iconChat.png');
}