.body {
    padding: 0px;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    background:  radial-gradient(circle,#f8e3e1, #ffffff);
    font-family: Arial, sans-serif;
}


.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    width: 100%;
    padding: 25px 30px;
    background-color: #fffefebe;
}

.backButton,
.logo,
.menu {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: row;
    padding: 24px;
    gap: 60px;
    align-items: stretch;
}

.notifications,
.suggestions {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
}

.title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 19px;
}

.notification {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #fff;
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 10px;
    position: relative;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    margin-right: 12px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    color: #fff; 
}

.text {
    flex: 1;
    position: relative;
}

.p {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
}

.date {
    font-size: 12px;
    color: #888;
    position: absolute;
    top: 0;
    right: 0;
    white-space: nowrap;
}

.suggestion {
    display: flex;
    padding: 12px;
    border-radius: 18px;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    margin-bottom: 10px;
}

.profilePic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 16px;
}

.username {
    font-size: 15px;
    color: #333;
    font-weight: bold;
}

.followButton {
    background-color: #f79489;
    color: #fff;
    border: none;
    border-radius: 19px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.logo {
    margin-left: 0px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    color: #8b2e0b;
}

.menu {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    background-image: url('/icons/users.png');
    cursor: pointer;
    position: relative;
}

.following {
    background-color: #f14b2e;
    color: white;
    padding: 9px 12px;
    font-size: 14px;
}

.iconsContainer {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: auto;
    margin-right: 48px;
}

.menu, .iconCasa, .iconAdicionar, .iconSino, .iconChat{
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}


.iconCasa {
    background-image: url('/icons/iconCasa.png');
}
.iconAdicionar {
    background-image: url('/icons/iconAdicionar.png');
}
.menu {
    background-image: url('/icons/users.png');
}
.iconSino {
    background-image: url('/icons/iconSino.png');
}
.iconChat {
    background-image: url('/icons/iconChat.png');
}