.container {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.onlineDot {
    width: 10px;
    height: 10px;
    background-color: limegreen;
    display: inline-block;
    margin-left: 6px;
    border-radius: 50%;
}

.avatars {
    display: flex;
    gap: 1.2rem;
    margin-top: 1rem;
}

.avatar {
   text-align: center;
   font-size: 0.8rem;
}

.image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: lightgray;
    margin-bottom: 5px;
    position: relative;
}

.image::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: limegreen;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    border: 2px solid white;
}
