.inputContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.input {  
    width: 27rem;
    height: 2.5rem;
    margin: 1rem 0;
    padding-left: 5rem; 
    border-radius: 2rem;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    box-shadow: inset 0 5px 8px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
}

.iconInput {
    padding-left: 2rem; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    width: 32px;
    height: 32px;
}

.text {
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
}

.sections {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.links {
    display: flex;
    gap: 2rem;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
}

.list img {
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.list:hover img {
    background-color: #f8b3b3;
}

.list span {
    margin-top: 8px;
}