.inputContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.input {
    color: #A4A4A4;
    font-size: 1.5rem;
    font-weight: 500;
    width: 40rem;
    height: 3rem;
    margin: 1rem 0;
    padding-left: 5rem;
    border-radius: 2rem;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    box-shadow: inset 0 7px 6px #a4a4a472;
    background-color: #ffffff;
}

.iconInput {
    padding-left: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
}

.text {
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
}

.sections {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.links {
    display: flex;
    gap: 2.5rem;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
}

.list img {
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.list:hover img {
    background-color: #f8b3b3;
}

.list span {
    margin-top: 8px;
}

@media (max-width: 600px) {
    .inputContainer {
        max-width: 100%;
        padding: 0 1rem;
    }

    .input {
        font-size: 1rem;
        height: 2.2rem;
        width: 15rem;
    }

    .iconInput {
        width: 24px;
        height: 24px;
        left: 0.2rem;
    }

    .links {
        gap: 1rem;
    }

    .list img {
        width: 40px;
        height: 40px;
        padding: 8px;
    }

    .list span {
        font-size: 0.9rem;
    }
}

@media (max-width: 400px) {
    .list {
        font-size: 0.9rem;
    }

    .list img {
        width: 36px;
        height: 36px;
        padding: 6px;
    }

    .input {
        font-size: 0.9rem;
        height: 2rem;
        width: 10rem;
        padding-left: 3.5rem;
    }

    .iconInput {
        width: 20px;
        height: 20px;
        left: 0.6rem;
    }
}