.profileHeader {
    display: flex;
    align-items: flex-start;
    border-radius: 16px 16px 0 0;
    padding: 32px 16px 24px 16px;
    gap: 24px;
    position: relative;
    justify-content: flex-end;
    align-items: center;
}

.avatarTopBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;
    gap: 12px;
}

.avatarSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 160px;
    position: relative;
    margin-right: 32px;
}

.avatarImg {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 4px solid #222;
    background: #fff;
    object-fit: cover;
    margin-bottom: 0px;
}

.username {
    font-weight: 700;
    font-size: 1.4rem;
    margin-top: -32px;

}

.profileMainInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 50px;
    margin-left: 32px;
}

.profileStats {
    display: flex;
    align-items: center;
    gap: 32px;

}

.statNumber {
    font-weight: 700;
    font-size: 1.2rem;
    margin-right: 4px;
}

.statLabel {
    color: #444;
    font-size: 1rem;
}

.statItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statDivider {
    width: 1px;
    height: 28px;
    background: #bbb;
    margin: 0 18px;
}

.followBtn {
    background: #fff;
    color: #e47a5a;
    border: 1.5px solid #e47a5a;
    border-radius: 20px;
    padding: 6px 24px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
    margin-top: 8px;
    outline: none;
    display: flex;
    gap: 4px;
    margin-right: 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

}

.followBtn:hover {
    background: #ffe6ee;
}

.plus {
    font-size: 1.2em;
    margin-left: 2px;
}

@media (max-width: 700px) {
    .profileHeader {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        padding: 24px 8px 16px 8px;
    }

    .avatarSection {
        flex-direction: row;
        align-items: center;
        margin-right: 0;
        margin-bottom: 16px;
        min-width: unset;
        width: 100%;
        justify-content: flex-start;
    }

    .avatarImg {
        width: 70px;
        height: 70px;
        margin-bottom: 0;
        margin-right: 16px;
    }

    .avatarTopBar {
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        margin-bottom: 0;
    }

    .profileMainInfo {
        margin-top: 0;
        width: 100%;
        margin-left: 0;
    }

    .profileStats {
        gap: 16px;
    }
}