.container {
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.list {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

.contact {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 0;
    border-bottom: 1px solid #eee;
}

.info {
    display: flex;
    gap: 1rem;
}

.avatar {
    width: 45px;
    height: 45px;
    background: lightgray;
    border-radius: 50%;
}
.right {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

}

.badge {
    background: #0a74ff;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badgeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}