.searchContainer {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
    background-color: #f8f3f3;
    padding: 8px 12px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: fit-content;
}

.searchContainer input {
    border: none;
    outline: none;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 14px;
    width: 480px;
    background-color: transparent;
}

.searchContainer button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    padding: 4px ;
    display: flex;
    align-items: center;
    justify-content: center;
}



