@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background: #fff;
    justify-content: center;
}

.card {
    width: 95vw;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 0.5rem;
    box-sizing: border-box;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.backButton {
    position: fixed;
    left: 3rem;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 4rem;
}

.title {
    font-size: 4.8rem;
    font-weight: 600;
    color: #dd776c;
    margin: 0;
    margin-top: 1rem;
    font-style: italic;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
    display: block;
}

.subtitle {
    color: #A4A4A4;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    text-align: center;
    margin-top: 0.2rem;
    margin-bottom: 0.7rem;
    display: block;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.inputGroup {
    width: 100%;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0.3rem 0;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.13);
    border-radius: 30px;
    background-color: rgba(240, 240, 240, 0.445);
    padding: 0.6rem 1rem;
    position: relative;
}

.inputIcon {
    width: 22px;
    height: 22px;
    margin-right: 0.7rem;
}

.input {
    width: 100%;
    height: 2.4rem;
    border: none;
    outline: none;
    padding-left: 0.5rem;
    background: transparent;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}


.phoneGroup {
    display: flex;
    align-items: center;
    flex: 1;
}

.ddd {
    margin-right: 4px;
    margin-left: 4px;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 12px;
    background: #fff;
}

.phoneInput {
    flex: 1;
    border: none;
    background: transparent;
    font-size: 0.95rem;
    color: #444;
    padding: 0.3rem 0;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}

.eyeIcon {
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-left: -25px;
    opacity: 0.7;
}

.signUpBtn {
    width: 50%;
    height: 2.1rem;
    margin: 0.7rem 0 0.3rem 0;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 500;
    background: #f79489;
    transition: background 0.3s;
    display: block;
    align-self: center;
}

.signUpBtn:hover {
    background: #c65a4d;
    cursor: pointer;
}

.signUpBtn:active {
    background-color: #d66d55;
}

.dividerArea {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0.7rem 0 0.4rem 0;
}

.divider {
    flex: 1;
    height: 1px;
    background: #E0E0E0;
}

.orText {
    color: #A4A4A4;
    font-size: 0.95rem;
    font-weight: 200;
    margin: 0 0.5rem;
    white-space: nowrap;
}

.socialIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    margin-bottom: 0.7rem;
    margin-top: 0.1rem;
}

.loginArea {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    font-size: 0.95rem;
    color: #757575;
    margin-top: 0.7rem;
}

.loginLink {
    font-weight: bold;
    font-size: 0.95rem;
    cursor: pointer;
    color: #f79489;
    text-decoration: underline;
    margin-left: 0.1rem;
}

.loginLink:hover {
    text-decoration: underline;
}

.loginLink:active {
    text-decoration: none;
}

.check {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    gap: 0.5rem; 
    cursor: pointer;
    font-size: 14px;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-self: center;
}
.checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkCustom {
    width: 20px;
    height: 20px;
    background-color: #fcbdb5;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    transition: all 0.3s ease;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}


.checkbox:checked + .checkCustom {
    background-color: #f79489; 
    box-shadow: 0 0 6px #ce7167;
}


.checkCustom:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox:checked + .checkCustom:after {
    display: block;
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.success {
    color: #27ae60;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}


@media (max-width: 500px) {
    .container{
        margin-top: 3rem;
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;
    }
    .card {
        padding: 0.5rem 0.1rem;
    }
    .title {
        font-size: 2.7rem;
        flex: 1;
        gap: 1rem;
    }
    .inputGroup {
        width: 17rem;
        height: 2rem;
    }
    .inputIcon {
        width: 18px;
        height: 18px;
        margin-right: 0.4rem;
    }
    .input, .phoneInput {
        font-size: 0.9rem;
        height: 1.7rem;
    }
    .signUpBtn {
        font-size: 0.95rem;
        height: 1.7rem;
    }
    .header {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .backButton {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
        width: 40px;
        height: 40px;
        display: block;
    }
    
}