.profilePageContainer {
    background: radial-gradient(circle, #f0d1cf, #f9f7f7);
    min-height: 100vh;
}

.profileContent {
    max-width: 900px;
    margin: 40px auto 0 auto;
    padding: 0 24px 40px 24px;
    display: flex;
    flex-direction: column;
    gap: 32px
}

.profileHeaderContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 24px;
}

.profileHeaderRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuIcon {
    cursor: pointer;
    padding-left: 10px;
}